@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --color-primario-Yellow: hsl(47, 88%, 63%);
    --color-secundario-White: hsl(0, 0%, 100%);
    --color-secundario-Grey: hsl(0, 0%, 50%);
    --color-secundario-Black: hsl(0, 0%, 7%); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}